{% load i18n %}
{% autoescape off %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<title>VIP FIZZ - FORGOT PASSWORD</title>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="screen-bg">
		<div class="content-outer">
		    <div class="form-bg-img">
				<img src="/static/web/formBg.png" alt="img" />
		    <div class="form-outer">
		   	<form action="" method="post">
			   	<div style="display:none">
			       	<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken" />
			   	</div>
			   	<p>Enter your email address below, and we'll email instructions for setting a new one.</p>
	           <fieldset> <input placeholder="Email" id="id_email" maxlength="254" name="email" type="email" /> </fieldset>
	           <fieldset>  <input type="submit" class="textbox" name="submit" value="SUBMIT"/> </fieldset>
		    </form>
		</div>
	</div>
</body>
</html>
{% endautoescape %}