{% load i18n %}
{% autoescape off %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<title>VIP FIZZ - FORGOT PASSWORD</title>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="screen-bg">
		<div class="content-outer">
		    <div class="form-bg-img">
				<img src="/static/web/formBg.png" alt="img" />
		    <div class="form-outer">
	   		<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
			<p>You should be receiving it shortly.</p>
		</div>
	</div>
</body>
</html>
{% endautoescape %}